__pycache__/
*.pyc
.env
.venv
.envrc
*.mp4
*.json
*.csv
!.github/
!.gitignore
/data/raw/*
!/data/raw/.gitkeep
/data/interim/*
!/data/interim/.gitkeep
/data/processed/*.csv
!/data/processed/.gitkeep
/data/reports/*
!/data/reports/.gitkeep
backend/models/*.pkl
backend/models/*.joblib
!backend/models/.gitkeep
.DS_Store
.streamlit/
